<div id="res_mod">
    <h1 style="margin: 10px 40px; margin-bottom: -20px;">Find your dream job</h1>
    <div id="res_card_layout" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="20px grid" style="padding: 50px 30px;">
        <div class="res_card">
            <mat-card class="card_style">
                <mat-card-content>
                    <div class="img-wrapper">
                    <app-video ytid="w-tUHaVKov4"/>
                    </div>
                    <div class="text_wrapper" style="margin-top: 6vh;" fxLayout="column">
                    <h5 style="text-decoration: 1px solid underline black;">12 Quick Tips for Job Interviews!</h5>
                    <p>Click video for more information!</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="res_card">
            <mat-card class="card_style">
                <mat-card-content>
                    <div class="img-wrapper">
                        <app-video ytid="n2L-84NVY5s"/>
                        </div>
                        <div class="text_wrapper" style="margin-top: 6vh;" fxLayout="column">
                        <h5 style="text-decoration: 1px solid underline black;">Stop asking these questions in 2024!</h5>
                        <p>Click video for more information!</p>
                        </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="res_card">
            <mat-card class="card_style">
                <mat-card-content>
                    <div class="img-wrapper">
                        <app-video ytid="AUTO7ALJk2U"/>
                        </div>
                        <div class="text_wrapper" style="margin-top: 6vh;" fxLayout="column">
                        <h5 style="text-decoration: 1px solid underline black;">Top 100 Javascript Interview Q&A!</h5>
                        <p>Click video for more information!</p>
                        </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="res_card">
            <mat-card class="card_style">
                <mat-card-content>
                    <div class="img-wrapper">
                        <app-video ytid="HG68Ymazo18"/>
                        </div>
                        <div class="text_wrapper" style="margin-top: 6vh;" fxLayout="column">
                        <h5 style="text-decoration: 1px solid underline black;">Indeed | Top Interview Tips</h5>
                        <p>Click video for more information!</p>
                        </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="res_card">
            <mat-card class="card_style">
                <mat-card-content>
                        <div class="img-wrapper">
                        <app-video ytid="ycG5_uccoNk"/>
                        </div>
                        <div class="text_wrapper" style="margin-top: 6vh;" fxLayout="column">
                        <h5 style="text-decoration: 1px solid underline black;">HIREVUE Interview Questions, Tips and Tricks</h5>
                        <p>Click video for more information!</p>
                        </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    </div>