.log-heading{
    margin-top: 4vh;
    text-align: center;
    color: black; 
    font-size: 34px; 
    font-weight: 700; 
    margin-top: 6vh; 
}

.login-field{
    width: 30vw;
    margin-left: 1vw;
}


.card_end{
    margin-bottom: 20vh;
}