<div id="register_mod">
    <mat-card fxLayout="row" style="justify-content: center;">
            <mat-card-content>
                    <mat-card-title class="reg-heading">Register</mat-card-title>
                    <div class="form_block" style="margin-top: 10vh;">
                    <mat-form-field class="register-field">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email"/>
                    </mat-form-field>
                </div>
                <span class="form_space"></span>
                <div class="form_block">
                    <mat-form-field class="register-field">
                    <mat-label class="reg-password">Password</mat-label>
                    <input matInput formControlName="password"/>
                    </mat-form-field>
                </div>
                <div class="form_block">
                    <mat-form-field class="register-field">
                    <mat-label>Re-Type Password</mat-label>
                    <input matInput formControlName="password"/>
                    </mat-form-field>
                </div>
                <div class="form_block" style="margin: 1vh 6vw;">
                    <a [routerLink]="['/login']">Already have an account? Sign in!</a>
                </div>
                <div class="form_block" style="margin: 5vh 12.5vw; margin-bottom: 23.5vh">
                    <button mat-raised-button color="primary">Submit</button>
                </div>
            </mat-card-content>
            <span class="card_end"></span>
    </mat-card>
    </div>